# Replace with your actual bot token
BOT_TOKEN=your_bot_token_here

# The prefix for text commands (e.g., !!help)
COMMAND_PREFIX=!!

# Selective cog loading. Provide a comma-separated list of cogs to enable.
# Available out-of-the-box: moderation.moderation, music.music, fun.rps, fun.slap, utility.updates, utility.help
# Leave this blank or comment it out to attempt dynamically loading all cogs in the cogs/ directory.
ENABLED_COGS=fun.slap,fun.joke,utility.help,utility.info,utility.errors,moderation.moderation,music.music,utility.updates

# Optional Channels for Moderation Logger
MOD_LOG_CHANNEL_ID=123456789012345678
